* {
    margin: 0% 3% 0% 3%;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(216, 216, 216);
    font-size: 18px;
    font-family: 'Carrois Gothic SC', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxGeneral {
    border: 1px solid rgb(177, 177, 177);
    width: 715px;
    min-height: 300px;
}

#boxGeneralito, #boxGeneralitoContacto {
    display: flex;
    justify-content: space-between; /*alinea foto*/
    padding: 10px 0 0 10px;
}

#boxTecnologias {
    padding: 10px 0 0 10px;
}

p {
    max-width: 500px;
    font-size: 16px;
    margin-bottom: 10px;
}

header {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0 0 5px 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(56, 187, 106);
    min-height: 30px;
    margin-bottom: 10px;
}

div.menu {
    display: flex;
}

.elementoMenu {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementoMenu:hover {
    border: 1px solid white;
    cursor: pointer;
}

#menu {
    text-decoration: none;
    color: honeydew;
    display: flex;
    text-align: center;
    margin: 0;
}

@media (max-width: 550px){
    body {
        align-items: flex-start;
    }
    h1 {
        display: flex;
        margin-left: 10%;    
        font-size: 30px;
        margin: 0;
    }
    nav {
        margin: 0;
        padding: 0;
        font-size: 17px;
    }
    div.menu {
        flex-direction: column;
    }
    img.fotoCV {
        width: 100px;
        height: 100px;
        margin: 0;
    }
    div.inicio {
        font-size: 13px;
        margin: 0;
    }
    div#box1Inicio {
        margin: 0;
    }
    div#boxGeneral {
        border: 0;
        margin: 0;
        width: 100%;
        min-height: auto;
    }
    div#boxGeneralito {
        margin: 0;
    }
    div#box2Inicio {
        margin: 0;
        padding: 0;
    }
    div#boxGeneralitoSobreMi {
        display: grid;
        margin: 0;
    }
    p {
        font-size: 13px;
    }
    div#boxGeneralitoContacto {
        display: grid;
    }
    label,
    div.datos input,
    div.datos textarea,
    div.datos2 input {
        font-size: 14px;
        margin: 0;
    }
    div#box2 {
        justify-items: center;
    }
    div.datos {
        display: grid;
    }
    div.datos2 {
        justify-content: flex-start;
    }
    img.elementoInicio {
        height: 20px;
        width: 20px;
        padding: 0;
        margin-bottom: 5px;
    }
}
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.elementoSkillsV {
    width: 50px;
    padding-bottom: 10px;
}

.elementoSkillsH {
    width: 80px;
    padding-bottom: 10px;
}

.elementoSkillsV:hover,
.elementoSkillsH:hover {
    opacity: 0.5;
}

#box1,
#box2 {
    margin: 0 0 5px 0;
}

#box1Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

#boxGeneralitoSobreMi {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 10px;
}

#boxSobreMi1,
#boxSobreMi2,
#boxSobreMi3,
#boxSobreMi4 {
    margin: 0;
    max-width: 300px;
}

#box2Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    display: flex;
    align-items: center;
}

.elementoInicio {
    height: 30px;
    width: 30px;
    padding: 5px 5px 0px 0;
    margin-bottom: 5px;
}

.fotoCV {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid rgb(56, 187, 106);
    margin-right: 20px;
}

input,
textarea {
    display: flex;
    justify-content: flex-end;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 18px;
    width: 250px;
    padding: 0 0 0 3px;
    border: 0;
}

textarea {
    resize: none;
}

label {
    width: 100px;
    margin: 0 0 5px 0;
}

input[type="submit"] {
    width: 100px;
    justify-content: center;
}

.datos {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

.datos2 {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 5px 0;
}

.social {
    display: flex;
    justify-content: center;
}

.elementoSocial {
    height: 40px;
    padding: 0px 10px 0px 10px;
}

.elementoSocial:hover {
    opacity: 0.5;
}

footer {
    display: flex;
    justify-content: center;
    height: 88px;
    align-items: center;
}

#edu {
    text-decoration: none;
    color: black;
    margin: 0;
}